<%= form.fields_for :wifi_link, @link.link_data || WifiLink.new do |wifi_form| %>
  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Link target</h3>
        <p class="mt-1 text-sm text-gray-500">Specific settings for your email link target.</p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <%= wifi_form.label :ssid, "SSID", class: "block text-sm font-medium text-gray-700" %>
            <%= wifi_form.text_field :ssid, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-6">
            <%= wifi_form.label :password, class: "block text-sm font-medium text-gray-700" %>
            <%= wifi_form.password_field :password, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-12">
            <div class="mb-3 flex flex-col justify-between sm:flex-row">
              <div>
                <label class="text-base font-medium text-gray-900">Security protocol</label>
                <p class="text-sm leading-5 text-gray-500">What type of security protocol does the WiFi network use?</p>
              </div>
              <fieldset class="mt-4">
                <legend class="sr-only">Wifi security protocol</legend>
                <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
                  <div class="flex items-center">
                    <%= wifi_form.radio_button :protocol, nil, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" %>
                    <%= wifi_form.label :protocol, "None", class:"ml-3 block text-sm font-medium text-gray-700"  %>
                  </div>

                  <div class="flex items-center">
                    <%= wifi_form.radio_button :protocol, "WEP", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" %>
                    <%= wifi_form.label :protocol, "WEP", class:"ml-3 block text-sm font-medium text-gray-700"  %>
                  </div>

                  <div class="flex items-center">
                    <%= wifi_form.radio_button :protocol, "WPA", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" %>
                    <%= wifi_form.label :protocol, "WPA", class:"ml-3 block text-sm font-medium text-gray-700"  %>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
