<div x-show="show" x-data="{show: true}" class="rounded-md <%= bg_color %> p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <%= icon %>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium <%= text_color %>"><%= content %></p>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button x-on:click="show = false" type="button" class="inline-flex rounded-md p-1.5 focus:outline-none focus:ring-2 focus:ring-offset-2 <%= x_button_colors %>">
          <span class="sr-only">Dismiss</span>
          <%= show_svg("solid-x.svg") %>
        </button>
      </div>
    </div>
  </div>
</div>
