<div class="flex-grow fade-enter-active">
  <div class="flex items-center justify-between mt-3 mb-2 text-xs font-bold tracking-wide text-gray-500 dark:text-gray-400">
    <span><%= @label_unit %></span>
    <span class="text-right">
      <span class="inline-block w-30"><%= @data_unit %></span>
    </span>
  </div>

  <% if @expandable %>
    <div class="flex flex-col" data-controller="reveal">
      <% @data.first(5).each do |title, count| %>
        <%= row(title, count) %>
      <% end %>
      <div class="hidden" data-reveal-target='item'>
      <% @data.drop(5).each do |title, count| %>
        <%= row(title, count) %>
      <% end %>
      </div>
      <%= render ButtonComponent.new(style: :text, classes: 'mt-3 self-center', data: { action: 'reveal#toggle' }) do %>
        <span data-reveal-target="item">More</span>
        <%= heroicon 'plus', variant: :mini, data: { reveal_target: 'item' } %>
        <span class="hidden" data-reveal-target="item">Less</span>
        <%= heroicon 'minus', class: 'hidden', variant: :mini, data: { reveal_target: 'item' } %>
      <% end %>
    </div>
  <% else %>
    <% @data.each do |title, count| %>
      <%= row(title, count) %>
    <% end %>
  <% end %>
</div>
