<div class="card text-center h-100">
  <div class="card-header"><h5 class="card-title"><%= name %></h5></div>
  <%= image_tag "data:image/png;base64,#{Base64.strict_encode64(qr_image)}", class: "card-img-top" %>

  <div class="card-body">
    <p class="card-text"><%= @link.url %></p>
    <p class="card-text">Visits: <%= num_events %></p>
  </div>
    <div class="card-footer">
      <div class="d-grid gap-2 d-xl-block">
        <% if @can_edit %>
          <%= link_to "Edit", edit_link_path(@link), class: "btn btn-secondary" %>
        <% end %>
        <% if @can_delete %>
          <%= link_to "Destroy", @link, data: {'turbo-method': :delete }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
</div>
