<%= @form.fields_for(:links) do |link_form| %>
  <%= link_form.hidden_field :user_id, value: @user.id %>
  <div>
    <%= link_form.label :name, class: "block text-sm font-medium text-slate-700" %>
    <div class="mt-1">
      <%= link_form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-slate-300 rounded-md", required: true %>
    </div>
  </div>
  <% if @static_only %>
    <%= link_form.hidden_field :dynamic, value: false,  "x-bind:value": "dynamic" %>
  <% else %>
    <div class="flex justify-between flex-row items-center">
      <span class="flex-grow flex flex-col">
        <%= link_form.label :dynamic, class: "text-sm font-medium text-slate-900" %>
        <span class="text-sm text-slate-500" id="availability-description">Create a dynamic link?</span>
      </span>
      <%= link_form.check_box :dynamic, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-slate-300 rounded" %>
    </div>
  <% end %>
<% end %>
