<!-- This example requires Tailwind CSS v2.0+ -->
<nav data-controller="mobile-menu" class="bg-slate-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button data-action="mobile-menu#toggle" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-slate-400 hover:text-white hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <div data-mobile-menu-target="openButton" data-transition-enter="transition ease-out duration-100" data-transition-enter-start="transform opacity-0 scale-95" data-transition-enter-end="transform opacity-100 scale-100" data-transition-leave="transition ease-in duration-75" data-transition-leave-start="transform opacity-100 scale-100" data-transition-leave-end="transform opacity-0 scale-95">
            <%= show_svg("outline/menu") %>
          </div>
          <div class="hidden" data-mobile-menu-target="closeButton" data-transition-enter="transition ease-out duration-100" data-transition-enter-start="transform opacity-0 scale-95" data-transition-enter-end="transform opacity-100 scale-100" data-transition-leave="transition ease-in duration-75" data-transition-leave-start="transform opacity-100 scale-100" data-transition-leave-end="transform opacity-0 scale-95">
            <%= show_svg("outline/x") %>
          </div>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <div class="text-indigo-600 mx-auto flex h-8 w-8">
            <%= show_svg("solid/bolt") %>
          </div>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <%= render Navbar::LinkComponent.new(title: 'Links', link: links_path, is_active: current_page?(links_path)) %>
            <%= render Navbar::LinkComponent.new(title: 'Insights', link: scans_path, is_active: current_page?(scans_path)) %>
            <%= render Navbar::LinkComponent.new(title: 'Styles', link: styles_path, is_active: current_page?(styles_path)) %>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <% if @user.organization.payment_processor.subscription.on_trial? %>
          <%= link_to settings_organization_path, class: "bg-yellow-200 text-yellow-900 px-2 py-1 rounded mr-2" do %>
            <%= @user.organization.trial_days_remaining %> trial days left
          <% end %> 
        <% end %>
        <button type="button" class="bg-slate-800 p-1 rounded-full text-slate-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-slate-800 focus:ring-white">
          <span class="sr-only">View notifications</span>
          <%= show_svg('outline/bell') %>
        </button>
        <%= render Navbar::ProfileMenuComponent.new(user: @user) %>
      </div>
    </div>
  </div>
  <%= render Navbar::MobileMenuComponent.new %>
</nav>
