<%= form_with(model: link_data) do |form| %>
  <%= form.fields_for(:links) do |link_form| %>
    <%= link_form.hidden_field :user_id, value: current_user.id %>
    <div class="mb-3">
      <%= link_form.label :name, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= link_form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md", required: true %>
      </div>
    </div>
    <div x-data="{ dynamic: false }" class="flex flex-col justify-between mb-3 sm:flex-row sm:items-center">
      <span class="flex-grow flex flex-col mb-4">
        <span class="text-sm font-medium text-gray-900" id="availability-label">Dynamic</span>
        <span class="text-sm text-gray-500" id="availability-description">Create a dynamic link?</span>
      </span>
      <button @click="dynamic = !dynamic" :class="!dynamic ? 'bg-gray-200' : 'bg-indigo-600'" type="button" class="relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" role="switch" aria-checked="false" aria-labelledby="availability-label" aria-describedby="availability-description">
        <span aria-hidden="true" :class="!dynamic ? 'translate-x-0' : 'translate-x-5'" class="pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
      </button>
      <%= link_form.hidden_field :dynamic, value: false,  "x-bind:value": "dynamic" %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :number, class: "block text-sm font-medium text-gray-700" %>
    <div class="mt-1 flex shadow-sm">
      <%= form.text_field :number, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-none rounded-r-md" %>
    </div>
  </div>

  <div>
    <%= form.submit class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>
