<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render SectionHeaderComponent.new do |c| %>
    <%= c.with_title do %>
      Templates
    <% end %>
    <% if can?(:create, Template) %>
      <%= c.with_button(link: new_template_path).with_content("New template") %>
    <% end %>
  <% end %>

  <div id="templates" class="min-w-full">
    <%= render @templates %>
  </div>
</div>
