<% if @all_scans.empty? %>
  <div class="text-center">
    <h3 class="mt-2 text-sm font-medium text-slate-900">No insights at this time</h3>
  </div>
<% else %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3 mb-3">
    <div>
      <p>Scans by country</p>
      <%= geo_chart @all_scans.group(:country).count %>
    </div>
    <div>
      <p>Scans by day</p> 
      <%= line_chart @all_scans.group(:link_id).group_by_day(:created_at).count  %>
    </div>
    <div>
      <p>Scans by browser</p>
      <%= pie_chart @all_scans.group(:browser_name).count %>
    </div>
    <div>
      <p>Scans by platform</p>
      <%= pie_chart @all_scans.group(:platform_name).count %>
    </div>
  </div>
  <%= render SectionHeaderComponent.new do |c| %>
    <%= c.with_title do %>
      Scan log
    <% end %>
    <%= c.with_button(style: :white, link: scans_path(format: :csv)) do %>
      <span class="flex">
        <%= show_svg('outline/cloud-download') %>
        <p class="ml-2">Download as CSV</p>
      </span>
    <% end %>
  <% end %>
  <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-md md:rounded-lg overflow-x-auto">
    <table class="min-w-full divide-y divide-slate-300">
      <thead class="bg-slate-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-slate-900 sm:pl-6">Datetime</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Link</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Browser name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Browser version</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Bot name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Device name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Platform name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Platform version</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Language</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">City</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-slate-900">Country</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan='100%'> 
            <%= paginate @scans, window: 2, outer_window: 2 %>
          </td>
        </tr>
      </tfoot>
      <tbody class="divide-y divide-slate-200 bg-white">
        <%= render partial: "scans/row", collection: @scans.sort_by {|e| e.created_at }.reverse, as: :scan %>
      </tbody>
    </table>
  </div>
<% end %>
