<h2 class="text-3xl mt-3">Create your first link</h2>
<p class="mt-1">After registering and confirming your account, you are ready to create your first link. On the main dashboard page, click the <q>New link</q> button.</p>
<%= image_tag "link_page.png", class: "m-2 shadow" %>
<p class="mt-1">On the next screen, you will be presented with a variety of options for what type of link you want to create. To read more about the various link types, read <%= link_to "the relevant section of the Link reference", '#', class: "text-indigo-500 underline" %>.</p>
<%= image_tag "link_selection.png"%>
<p class="mt-1">Click the <q>URL link</q> option. On the next screen, you will be able to specify the settings for your URL link. Give your link a name, fill out the URL link target, and finally click <q>Save</q> to create your link.</p>
<em class="mt-1">To ensure that you can view data and insights about the scans of your link, leave the Dynamic checkbox checked.</em>
<%= image_tag "link_creation.png" %>
<p class="mt-1">Once you have saved your link, you will be redirected to a page showing you the QR code for the link, as well as some basic scan statistics. Scan the QR code using a phone or QR scanner, and refresh the page. You should see that the <q>Total Scans</q> statistic increased from 0 to 1.</p>
<p class="mt-1">Congratulations! You've now created your first dynamic link and begun collecting data. In the next Getting Started article, you'll learn how to view more detailed insights about your scanning events.</p>
<%= image_tag "link.png" %>
