<%= content_tag :tr, id: dom_id(scan) do %>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-700 dark:text-gray-200 sm:pl-6"><%= local_time(scan.created_at) %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.link.name %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.browser_name %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.browser_version %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.device_name %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.platform_name %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.platform_version %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.language %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.city %></td>
  <td class="bg-gray-100 dark:bg-gray-700 whitespace-nowrap px-3 py-4 text-sm text-gray-700 dark:text-gray-200"><%= scan.country %></td>
<% end %>
