<% if @all_scans.empty? %>
  <div class="text-center">
    <h3 class="mt-2 text-sm font-medium text-gray-700 dark:text-gray-200">No insights at this time</h3>
    <p class="mt-1 text-sm text-gray-500">Share your QR codes to start generating insights from scans.</p>
  </div>
<% else %>
  <%= render SectionHeaderComponent.new do |c| %>
    <%= c.with_title do %>
      Insights
    <% end %>
  <% end %>
  <%= render_component 'card' do %>
    <%= area_chart Scan.includes(:link).last_thirty_days, discrete: true, points: false, legend: false, min: 0, colors: ['#facc15'], library: { scales: { y: { grid: { display: false, drawBorder: false } } } }  %> 
  <% end %>
  <div class="my-5 grid grid-cols-1 md:grid-cols-2 gap-3">
    <%= render ChartContainerComponent.new do |c| %>
      <%= c.with_title do %>
        Links
      <% end %>
      <%= c.with_chart(label_unit: 'Links', data_unit: 'Scans', data: @links_stats) %>
    <% end %>
    <%= render ChartContainerComponent.new do |c| %>
      <%= c.with_title do %>
        Platforms
      <% end %>
      <%= c.with_chart(label_unit: 'Platform', data_unit: 'Scans', data: @platform_stats) %>
    <% end %>
    <%= render ChartContainerComponent.new do |c| %>
      <%= c.with_title do %>
        Browsers
      <% end %>
      <%= c.with_chart(label_unit: 'Browsers', data_unit: 'Scans', data: @browser_stats) %>
    <% end %>
    <%= render ChartContainerComponent.new do |c| %>
      <%= c.with_title do %>
        Countries
      <% end %>
      <%= c.with_chart(label_unit: 'Browsers', data_unit: 'Scans', data: @countries_stats) %>
    <% end %>
  </div>
  <%= render SectionHeaderComponent.new do |c| %>
    <%= c.with_title do %>
      Scan log
    <% end %>
    <%= c.with_button(style: :secondary, href: scans_path(format: :csv)) do %>
      <span class="flex items-center">
        <%= heroicon 'cloud-arrow-down' %>
        <p class="ml-2">Download as CSV</p>
      </span>
    <% end %>
  <% end %>
  <div class="overflow-hidden rounded-md md:rounded-lg overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-600">
      <thead class="bg-gray-200 dark:bg-gray-700">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-800 dark:text-gray-100 sm:pl-6">Datetime</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Link</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Browser name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Browser version</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Bot name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Device name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Platform name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Platform version</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Language</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">City</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Country</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan='100%'> 
            <%= paginate @paginated_scans, window: 2, outer_window: 2 %>
          </td>
        </tr>
      </tfoot>
      <tbody id="scans" class="divide-y divide-gray-600">
        <%= render partial: "row", collection: @scans.by_datetime, as: :scan %>
      </tbody>
    </table>
  </div>
<% end %>
