<%= render SectionHeaderComponent.new do |c| %>
  <%= c.with_title do %>
    Insights
  <% end %>
<% end %>
<%= turbo_frame_tag 'scans' do %>
<%= form_with(url: scans_path, method: :get, class: 'flex flex-row my-3', data: { controller: :autosave, turbo_action: :advance, turbo_frame: :_top }) do |f| %>
  <div class="flex flex-row gap-x-2">
    <%= render FilterComponent.new(:link, @link) %>
    <%= render FilterComponent.new(:platform, @platform) %>
    <%= render FilterComponent.new(:browser, @browser) %>
    <%= render FilterComponent.new(:country, @country) %>
  </div>
  <%= f.select :period, options_for_select([['Today', 'today'], ['Last thirty days', '30d'], ['All-time', 'all']], @period), {}, class: 'ml-auto bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block sm:text-sm rounded-md"', data: { action: 'autosave#save' } %>
<% end %>
  <%= render_component 'card' do %>
    <%= area_chart @timeline_stats, discrete: true, points: false, legend: false, min: 0, colors: ['#facc15'], library: { scales: { y: { grid: { display: false, drawBorder: false } } } }  %> 
  <% end %>
  <div class="my-5 grid grid-cols-1 md:grid-cols-2 gap-3">
    <%= render ChartContainerComponent.new do |c| %>
      <%= c.with_title do %>
        Links
      <% end %>
      <%= c.with_chart(label_unit: 'Link', data_unit: 'Scans', data: @links_stats, current_user: current_user) %>
    <% end %>
    <%= render ChartContainerComponent.new do |c| %>
      <%= c.with_title do %>
        Platforms
      <% end %>
      <%= c.with_chart(label_unit: 'Platform', data_unit: 'Scans', data: @platform_stats, current_user: current_user) %>
    <% end %>
    <%= render ChartContainerComponent.new do |c| %>
      <%= c.with_title do %>
        Browsers
      <% end %>
      <%= c.with_chart(label_unit: 'Browser', data_unit: 'Scans', data: @browser_stats, current_user: current_user) %>
    <% end %>
    <%= render ChartContainerComponent.new do |c| %>
      <%= c.with_title do %>
        Countries
      <% end %>
      <%= c.with_chart(label_unit: 'Country', data_unit: 'Scans', data: @countries_stats, current_user: current_user) %>
    <% end %>
  </div>
  <%= render SectionHeaderComponent.new do |c| %>
    <%= c.with_title do %>
      Scan log
    <% end %>
    <%= c.with_button(style: :secondary, href: scans_path(format: :csv)) do %>
      <span class="flex items-center">
        <%= heroicon 'cloud-arrow-down' %>
        <p class="ml-2">Download as CSV</p>
      </span>
    <% end %>
  <% end %>
  <div class="overflow-hidden rounded-md md:rounded-lg overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
      <thead class="bg-gray-100 dark:bg-gray-700">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-800 dark:text-gray-100 sm:pl-6">Datetime</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Link</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Browser name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Browser version</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Bot name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Device name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Platform name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Platform version</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Language</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">City</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-800 dark:text-gray-100">Country</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan='100%'> 
            <%= paginate @paginated_scans, window: 2, outer_window: 2 %>
          </td>
        </tr>
      </tfoot>
      <tbody id="scans" class="divide-y divide-gray-200 dark:divide-gray-600">
        <%= render partial: "row", collection: @scans.by_datetime, as: :scan %>
      </tbody>
    </table>
  </div>
<% end %>
