<div class="row mb-3">
  <div class="col">
    <h1>Events</h1>
  </div>
</div>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        Datetime
      </th>
      <th scope="col">
        Link
      </th>
      <th scope="col">
        Browser name
      </th>
      <th scope="col">
        Browser version
      </th>
      <th scope="col">
        Bot name
      </th>
      <th scope="col">
        Device name
      </th>
      <th scope="col">
        Platform name
      </th>
      <th scope="col">
        Platform version
      </th>
      <th scope="col">
        Language
      </th>
      <th scope="col">
        City
      </th>
      <th scope="col">
        Country
      </th>
    </tr>
  </thead>
  <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.created_at.to_fs(:db) %></td>
          <td><%= link_to event.link.name, edit_link_path(event.link) %></td>
          <td><%= event.browser_name %></td>
          <td><%= event.browser_version %></td>
          <td><%= event.bot_name %></td>
          <td><%= event.device_name %></td>
          <td><%= event.platform_name %></td>
          <td><%= event.platform_version %></td>
          <td><%= event.language %></td>
          <td><%= event.city %></td>
          <td><%= event.country %></td>
        </tr>
      <% end %>
  </tbody>
</table>
  
</div>
