<div id="Features" class="relative bg-white py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-base font-semibold uppercase tracking-wider text-indigo-600">Everything you need</h2>
    <p class="mt-2 text-3xl font-extrabold tracking-tight text-slate-900 sm:text-4xl">Infinitely customizable</p>
    <p class="mx-auto mt-5 max-w-prose text-xl text-slate-500">Turn it up to 11 with RoQR's dynamic QR codes. Gather feedback from your key customers, promote your brand, advertise your events and discounts and track user engagement - RoQR let's you do it all</p>
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <%= render FeatureCardComponent.new(title: 'Dynamic QR codes', icon: 'outline/qrcode') do %>
          QR codes that update on your schedule, allowing you to route users exactly as you see fit.
        <% end %>
        <%= render FeatureCardComponent.new(title: 'Scan log', icon: 'outline/collection') do %>
          A complete log so you know who scanned your QR codes when.
        <% end %>
        <%= render FeatureCardComponent.new(title: 'API', icon: 'outline/code') do %>
          A modern API that lets you generate and manage links on the fly.
        <% end %>
        <%= render FeatureCardComponent.new(title: 'Data export', icon: 'outline/table') do %>
          Export your date for further analysis and insights.
        <% end %>
        <%= render FeatureCardComponent.new(title: 'Password-protected links', icon: 'outline/lock-closed') do %>
          Protect your links with passwords to keep your data secure.
        <% end %>
        <%= render FeatureCardComponent.new(title: 'Styles and templates', icon: 'outline/color-swatch') do %>
          Make your QR codes your own through various styles, colors and saveable templates.
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-indigo-50">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:py-12 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">Privacy</h2>
      <p class="mt-1 text-3xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight">You respect your customers' right to privacy. We do too.</p>
      <p class="max-w-3xl mt-5 mx-auto text-xl text-gray-500">RoQR provides powerful analytics and marketing tools without exposing your customers to tracking pixels or intrusive trackers. No personal identifiable information of your customers is stored on our servers, which means less work on data-privacy compliance for you.</p>
    </div>
  </div>
</div>
