<div data-controller="dropdown" class="relative bg-slate-800 bg-texture overflow-hidden">
  <div class="relative pt-6 pb-16 sm:pb-24">
    <div>
      <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
        <div class="flex items-center flex-1">
          <div class="flex items-center justify-between w-full md:w-auto">
              <span class="sr-only">RoQR</span>
              <div class="h-8 w-8 sm:h-10 sm:w-10 text-indigo-500">
                <%= show_svg("solid/bolt") %>
              </div>
            <div class="-mr-2 flex items-center md:hidden">
              <button data-action="dropdown#toggle click@window->dropdown#hide" type="button" class="bg-transparent rounded-md p-2 inline-flex items-center justify-center text-slate-400 hover:bg-slate-700 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!-- Heroicon name: outline/menu -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
          </div>
          <div class="hidden space-x-10 md:flex md:ml-10">
            <%= link_to 'Features', marketing_path(anchor: 'Features'), class: 'font-medium text-white hover:text-slate-300' %>
            <%= link_to 'Pricing', marketing_path(anchor: 'Pricing'), class: 'font-medium text-white hover:text-slate-300' %>
            <%= link_to 'FAQ', marketing_path(anchor: 'FAQ'), class: 'font-medium text-white hover:text-slate-300' %>
          </div>
        </div>
        <div class="hidden md:flex">
          <%= link_to 'Log in', new_user_session_path, class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-slate-600 hover:bg-slate-700' %>
        </div>
      </nav>

      <div
          class="absolute z-10 top-0 inset-x-0 p-1 origin-top-right hidden"
          data-dropdown-target="menu" 
          data-transition-enter-active="transition ease-out duration-150"
          data-transition-enter-from="transform opacity-100 scale-95"
          data-transition-enter-to="transform opacity-100 scale-100"
          data-transition-leave-active="transition ease-in duration-100"
          data-transition-leave-from="transform opacity-100 scale-100"
          data-transition-leave-to="transform opacity-0 scale-95"
          >
          <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
            <div class="px-5 pt-4 flex items-center justify-between">
              <div>
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
              </div>
        <div class="-mr-2">
          <button data-action="dropdown#toggle" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-slate-400 hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
            </div>
            <div class="px-2 pt-2 pb-3 space-y-1">
              <%= link_to 'Features', marketing_path(anchor: 'Features'), class: 'block px-3 py-2 rounded-md text-base font-medium text-slate-700 hover:text-slate-900 hover:bg-slate-50' %>
              <%= link_to 'Pricing', marketing_path(anchor: 'Pricing'), class: 'block px-3 py-2 rounded-md text-base font-medium text-slate-700 hover:text-slate-900 hover:bg-slate-50' %>
              <%= link_to 'FAQ', marketing_path(anchor: 'FAQ'), class: 'block px-3 py-2 rounded-md text-base font-medium text-slate-700 hover:text-slate-900 hover:bg-slate-50' %>
            </div>
            <%= link_to 'Log in', new_user_session_path, class: 'block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-slate-50 hover:bg-slate-100' %>
          </div>
      </div>
    </div>

    <%= render 'hero' %>
  </div>
</div>

<%= render 'features' %>
<%= render 'pricing' %>
<%= render 'cta' %>
<%= render 'footer' %>
