<% if Flipper.enabled? :paddle, current_user %>
  <%= render_component 'card' do %>
    <%= render_component 'section_header', classes: 'dark:border-gray-600' do |c| %>
      <%= c.title do %>
        Subscription
        <%= SubscriptionPresenter.new(@organization.subscription).status_badge if @organization.subscribed? %>
      <% end %>
    <% end %>
    <% if @organization.subscribed? %>
      <a class="text-sm font-medium text-gray-600 dark:text-gray-300"href=<%= @organization.subscription.update_url %>>Update billing information</a><br>
      <a class="text-sm font-medium text-red-600 dark:text-red-300"href=<%= @organization.subscription.cancel_url %>>Cancel subscription</a>
      <%= render 'subscription_timeline', subscription: @organization.subscription %>
      
    <% else %>
      <button data-action="paddle#checkout" type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-gray-900 bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-500 text-sm font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2">Buy Now!</button>
    <% end %>
  <% end %>
<% end %>

