<% if Flipper.enabled? :paddle, current_user %>
  <%= render_component 'card' do %>
    <%= render_component 'section_header', classes: 'dark:border-gray-600' do |c| %>
      <%= c.title classes: "flex items-center" do %>
        Subscription
        <%= SubscriptionPresenter.new(@organization.subscription).status_badge if @organization.subscribed? %>
      <% end %>
      <%= c.button(link: new_subscription_path, style: 'white').with_content("Manage subscription") %>
    <% end %>
    <% if @organization.subscribed? && !@organization.subscription.cancelled?  %>
      <a class="text-sm font-medium text-gray-600 dark:text-gray-300"href=<%= @organization.subscription.update_url %>>Update billing information</a><br>
      <a class="text-sm font-medium text-red-600 dark:text-red-300"href=<%= @organization.subscription.cancel_url %>>Cancel subscription</a>
      <%= render 'subscription_timeline', subscription: @organization.subscription %>

    <% else %>
      <div class="text-center">
        <h3 class="mt-2 text-sm font-medium text-gray-700 dark:text-gray-200">Not subscribed</h3>
        <p class="mt-1 text-sm text-gray-500">Subscribe now to retain access to RoQR after your trial ends.</p>
        <div class="mt-6">
          <%= render_component 'button', link: new_subscription_path do %>
            <%= heroicon 'plus', variant: 'mini' %>
            Subscribe
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

