<div class="flow-root mt-5">
  <ul role="list" class="-mb-8">
    <li>
      <div class="relative pb-8">
        <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-300 dark:bg-gray-600" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
          <div>
            <span class="h-8 w-8 rounded-full bg-gray-200 flex items-center justify-center ring-4 ring-gray-200 dark:ring-gray-700">
              <%= heroicon 'calendar-days', variant: 'mini', class: 'h-5 w-5' %>
            </span>
          </div>
          <div class="min-w-0 flex-1 flex justify-between space-x-4 items-center">
            <div>
              <p class="text-sm text-gray-700 dark:text-gray-200">Upcoming payment</p>
            </div>
            <div title="<%= subscription.next_bill_date %>" class="text-right text-sm whitespace-nowrap text-gray-400 dark:text-gray-500">
              <time><%= time_ago_in_words(subscription.next_bill_date) %> from now</time>
            </div>
          </div>
        </div>
      </div>
    </li>
    <% subscription.subscription_payments.sort_by(&:created_at).reverse.each_with_index do |subscription_payment, i| %>
      <li>
        <div class="relative pb-8">
          <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-300 dark:bg-gray-600" aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div>
              <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-4 ring-gray-200 dark:ring-gray-700">
                <%= heroicon 'check', variant: 'mini', class: 'h-5 w-5' %>
              </span>
            </div>
            <div class="min-w-0 flex-1 flex justify-between space-x-4 items-flex-start">
              <div>
                <p class="text-sm text-gray-700 dark:text-gray-200">Successful payment: <%= subscription_payment.currency %> <%= number_to_currency subscription_payment.sale_gross, unit: '' %></p>
                <a href=<%= subscription_payment.receipt_url %> class="text-sm font-medium text-gray-800 dark:text-gray-100">View receipt</a>
              </div>
              <div title="<%= subscription_payment.created_at %>" class="text-right text-sm whitespace-nowrap text-gray-400 dark:text-gray-500">
                <time><%= time_ago_in_words(subscription_payment.created_at) %> ago</time>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <li>
      <div class="relative pb-8">
        <div class="relative flex space-x-3">
          <div>
            <span class="h-8 w-8 rounded-full bg-gray-200 flex items-center justify-center ring-4 ring-gray-200 dark:ring-gray-700">
              <%= heroicon 'calendar', variant: 'mini', class: 'h-5 w-5' %>
            </span>
          </div>
          <div class="min-w-0 flex-1 flex justify-between space-x-4 items-center">
            <div>
              <p class="text-sm text-gray-700 dark:text-gray-200">Subscribed</p>
            </div>
            <div title="<%= subscription.created_at %>" class="text-right text-sm whitespace-nowrap text-gray-400 dark:text-gray-500">
              <time><%= time_ago_in_words(subscription.created_at) %> ago</time>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
