<div class="h-full">
  <div class="flex flex-col">
    <%= render 'settings/nav' %>
    <div class="space-y-6">
      <%= render_component 'card' do %>
        <%= render_component 'section_header', classes: 'dark:border-gray-600' do |c| %>
          <%= c.title {'Developer settings' } %>
        <% end %>
        <%= simple_form_for current_user, url: user_private_api_keys_path, class: "mt-6" do |f| %>
          <div data-controller="clipboard" class="flex flex-col gap-x-3 md:flex-row">
            <%= f.input :private_api_key, label: 'API key', readonly: true, hint: 'API keys are used to authenticate with RoQR programatically. They should be considered secret, and not shared with anyone.', input_html: { data: { clipboard_target: 'source' } } %>
            <div class="flex mt-2 justify-between md:mt-0 items-center">
              <a data-action="clipboard#copy" href="#" target="_blank" class="inline-flex items-center px-4 py-2 border border-gray-400 dark:border-gray-500 text-gray-500 dark:text-gray-400 bg-transparent text-sm font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2">
                <div data-clipboard-target="copyIcon" data-transition-enter="transition ease-out duration-100" data-transition-enter-start="transform opacity-0 scale-95" data-transition-enter-end="transform opacity-100 scale-100" data-transition-leave="transition ease-in duration-75" data-transition-leave-start="transform opacity-100 scale-100" data-transition-leave-end="transform opacity-0 scale-95"> 
                  <%= heroicon 'clipboard-document-list' %>
                </div>
                <div data-clipboard-target="confirmedIcon" class="hidden text-green-500" data-transition-enter="transition ease-out duration-100" data-transition-enter-start="transform opacity-0 scale-95" data-transition-enter-end="transform opacity-100 scale-100" data-transition-leave="transition ease-in duration-75" data-transition-leave-start="transform opacity-100 scale-100" data-transition-leave-end="transform opacity-0 scale-95">
                  <%= show_svg('outline/check') %> 
                </div>
              </a>
              <%= f.submit "Generate New Key", class: "ml-3 inline-flex items-center px-4 py-2 border border-gray-400 dark:border-gray-500 text-gray-500 dark:text-gray-400 bg-transparent text-sm font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 cursor-pointer"%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
