<div class="h-full">
  <div class="flex flex-col">
    <%= render 'settings/nav' %>
    <section class="space-y-6" data-controller="paddle" data-paddle-product-id-value=34458  data-paddle-email-value=<%= current_user.email %> data-paddle-passthrough-value=<%= @organization.id %>>
      <%= simple_form_for(@organization) do |form| %>
        <%= render_component 'card' do %>
          <%= render_component 'section_header', classes: 'dark:border-gray-600' do |c| %>
            <%= c.title { 'Organization settings' } %>
          <% end %>
          <div class="mt-6 grid grid-cols-4 gap-6">
            <div class="col-span-4 sm:col-span-2">
              <%= form.input :name, disabled: cannot?(:edit, @organization) %>
            </div>
            <div class="col-span-4 sm:col-span-2">
              <%= form.input :billing_email, disabled: cannot?(:edit, @organization) %>
            </div>
          </div>

        <% end %>
        <div class="py-3 text-right">
          <%= render ButtonComponent.new(type: :submit, disabled: cannot?(:edit, @organization), data: { turbo: false }) do %>
            Save
          <% end %>
        </div>
      <% end %>
      <%= render_component 'card' do %>
        <%= render_component 'section_header', classes: 'dark:border-gray-600' do |c| %>
          <%= c.title classes: "flex items-center" do %>
            Custom domains
          <% end %>
          <% if can? :create, CustomDomain %>
            <%= c.button(href: new_organization_custom_domain_path(@organization), style: :secondary).with_content("Create new custom domain") %>
          <% end %>
        <% end %>
        <% if @organization.custom_domains.empty? %>
          <div class="text-center">
          <%= heroicon 'check-badge', size: 48, class: 'mx-auto text-gray-400' %>
          <h2 class="mt-2 text-lg font-medium text-gray-700 dark:text-gray-200">No custom domains</h2>
          <p class="mt-1 text-sm text-gray-500">Custom domain let you embed your own web domain in your QR codes. <a class="text-yellow-400 dark:text-yellow-300" href="https://docs.roqr.app/blog/custom-domains/">Learn more</a></p>
            
          </div>
        <% else %>
          <ul role="list" class="divide-y divide-gray-600">
            <% for custom_domain in @organization.custom_domains %>
              <%= link_to custom_domain do %>
                <li class="px-6 py-4 flex hover:bg-gray-200 dark:hover:bg-gray-600 items-center justify-between">
                  <div class="flex">
                    <div class="ml-3">
                      <p class="text-sm font-medium text-gray-800 dark:text-gray-100"><%= custom_domain.url %></p>
                      <p class="text-sm text-gray-600 dark:text-gray-300"><%= custom_domain.status %></p>
                    </div>
                  </div>
                  <%= heroicon 'chevron-right', class: 'text-gray-400' %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <%= render_component 'card' do %>
        <%= render_component 'section_header', classes: 'dark:border-gray-600' do |c| %>
          <%= c.title classes: "flex items-center" do %>
            Team members
          <% end %>
          <% if can? :invite, User %>
            <%= c.button(href: new_user_invitation_path, style: :secondary).with_content("Invite team member") %>
          <% end %>
        <% end %>
        <% if @organization.users.count == 1 %>
          <div class="mt-4 text-center">
            <%= heroicon 'user-group', size: 48, class: 'mx-auto text-gray-400' %>
            <h2 class="mt-2 text-lg font-medium text-gray-700 dark:text-gray-200">Add team members</h2>
            <p class="mt-1 text-sm text-gray-500">You haven’t added any team members to your organization yet.</p>
          </div>
        <% else %>
          <ul role="list" class="divide-y divide-gray-600">
            <% for user in @organization.users %>
              <% unless user == current_user %>
                <%= link_to user do %>
                  <li class="px-6 py-4 flex hover:bg-gray-200 dark:hover:bg-gray-600 items-center justify-between">
                    <div class="flex">
                      <%= image_tag(user.gravatar_url, class: "h-10 w-10 rounded-full") %>
                      <div class="ml-3">
                        <p class="text-sm font-medium text-gray-800 dark:text-gray-100"><%= user.name %></p>
                        <p class="text-sm text-gray-600 dark:text-gray-300"><%= user.email %></p>
                      </div>
                    </div>
                    <%= heroicon 'chevron-right', class: 'text-gray-400' %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <% if can? :destroy, @organization %>
        <%= render_component 'card' do %>
          <%= render_component 'section_header', classes: 'dark:border-gray-600' do |c| %>
            <%= c.title do %>
              Danger zone
            <% end %>
          <% end %>
          <div>
            <%= link_to 'Delete organization', confirm_destroy_organization_path(@organization), class: 'text-red-500', data: {turbo_frame: :modal} %> 
          </div>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
