<div class="h-full">
  <div class="flex flex-col">
    <%= render 'settings/nav' %>
    <section class="space-y-6" data-controller="paddle" data-paddle-product-id-value=34458  data-paddle-email-value=<%= current_user.email %> data-paddle-passthrough-value=<%= @organization.id %>>
      <%= render_component 'card' do %>
        <%= render_component 'section_header', classes: 'dark:border-gray-600' do |c| %>
          <%= c.title classes: "flex items-center" do %>
            Subscription
            <%= SubscriptionPresenter.new(@organization.subscription).status_badge if @organization.subscribed? %>
          <% end %>
          <% if @organization.subscribed? %>
            <%= c.button(href: edit_subscription_path(@organization.subscription), style: :secondary).with_content("Manage subscription") %>
          <% else %>
            <%= c.button(href: new_subscription_path, style: :secondary).with_content("Manage subscription") %>
          <% end %>
        <% end %>
        <% if @organization.subscribed? && !@organization.subscription.cancelled?  %>
          <%= render 'subscription_timeline', subscription: @organization.subscription %>
        <% else %>
          <div class="text-center">
            <h3 class="mt-2 text-sm font-medium text-gray-700 dark:text-gray-200">Not subscribed</h3>
            <p class="mt-1 text-sm text-gray-500">Subscribe now to retain access to RoQR after your trial ends.</p>
            <div class="mt-6">
              <%= render_component 'button', href: new_subscription_path do %>
                <%= heroicon 'plus', variant: 'mini' %>
                Subscribe
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
