<div>
  <%= form_with(model: style) do |form| %>
    <div data-controller="qr" data-qr-barcode-data-value="https://roqr.app" class="md:grid md:grid-cols-2 md:gap-6 flex flex-col-reverse space-y-5 md:space-y-0">
      <div class="md:col-span-1">
        <div class="space-y-6">
          <%= render_component 'card' do %>
            <h3 class="text-lg font-medium leading-6 text-gray-800 dark:text-gray-100">Style settings</h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Set values for a reusable style that can then be applied to your links</p>
            <div class="mt-5 space-y-3">
              <%= form.label :name, class: "block text-sm font-medium text-gray-600 dark:text-gray-300" %>
              <div class="mt-1">
                <%= form.text_field :name, class: "bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", required: true %>
              </div>
              <div class="flex flex-col space-y-3">
                <div class="flex flex-col">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Background settings</h4>
                  <%= form.label :background_color, 'Color', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.color_field :background_color, value: style.background_color, "data-action": "input->qr#update", "data-qr-target": "backgroundColor" %>
                </div>
                <div class="flex flex-col">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Dots settings</h4>
                  <%= form.label :dots_color, 'Color', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.color_field :dots_color, value: style.dots_color, "data-action": "input->qr#update", "data-qr-target": "dotsColor" %>
                  <%= form.label :dots_shape, 'Shape', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.select :dots_shape, Style::DOTS_SHAPES.map{|x| [x.humanize, x]}, {}, class: "bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", "data-action": "input->qr#update", "data-qr-target": "dotsShape" %>
                </div>
                <div class="flex flex-col">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Corner squares settings</h4>
                  <%= form.label :corner_squares_color, 'Color', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.color_field :corner_squares_color, value: style.corner_squares_color, "data-action": "input->qr#stopCopyingCornerSquares input->qr#update", "data-qr-target": "cornerSquaresColor" %>
                  <%= form.label :corner_squares_shape, 'Shape', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.select :corner_squares_shape, Style::CORNER_SQUARES_SHAPES.map{|x| [x.humanize, x]}, {include_blank: 'Default'}, class: "bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", "data-action": "input->qr#update", "data-qr-target": "cornerSquaresShape" %>
                </div>
                <div class="flex flex-col">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Corner dots settings</h4>
                  <%= form.label :corner_dots_color, 'Color', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.color_field :corner_dots_color, value: style.corner_dots_color, "data-action": "input->qr#stopCopyingCornerDots input->qr#update", "data-qr-target": "cornerDotsColor" %>
                  <%= form.label :corner_dots_shape, 'Shape', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.select :corner_dots_shape, Style::CORNER_DOTS_SHAPES.map{|x| [x.humanize, x]}, {include_blank: 'Default'}, class: "bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", "data-action": "input->qr#update", "data-qr-target": "cornerDotsShape" %>
                </div>
                <div class="flex flex-col">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Image settings</h4>
                  <%= form.label :image_url, 'Image URL', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.url_field :image_url, value: style.image_url, class: 'bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md', "data-action": "qr#update", "data-qr-target": "imageUrl" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div data-qr-target="canvas" style="aspect-ratio: 1" class="flex justify-center md:col-span-1"></div>
    </div>
    <div class="mt-3 gap-x-3 flex justify-end">
      <%= render_component 'button', style: :secondary, data: { action: 'turbo-modal#hideModal'} do %>
        Cancel
      <% end %>
      <%= form.submit nil, class: 'inline-flex items-center border font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent text-gray-900 bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-500 px-4 py-2 text-sm' %>
    </div>
  <% end %>	
</div>
