<div>
  <%= form_with(model: style) do |form| %>
    <div data-controller="qr" data-qr-barcode-data-value="https://roqr.app" class="md:grid md:grid-cols-2 md:gap-6 flex flex-col-reverse space-y-5 md:space-y-0">
      <div class="md:col-span-1">
        <div class="space-y-6">
          <%= render_component 'card' do %>
            <h3 class="text-lg font-medium leading-6 text-gray-800 dark:text-gray-100">Style settings</h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Set values for a reusable style that can then be applied to your links</p>
            <div class="mt-5 space-y-3">
              <%= form.label :name, class: "block text-sm font-medium text-gray-600 dark:text-gray-300" %>
              <div class="mt-1">
                <%= form.text_field :name, class: "bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", required: true, autofocus: true %>
              </div>
              <div class="flex flex-col space-y-3">
                <div class="flex flex-col" data-controller="reveal">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Background settings</h4>
                  <label class="inline-flex relative items-center cursor-pointer">
                    <%= form.check_box :transparent_background, class: "sr-only peer", data: { qr_target: 'transparentBackground', action: 'reveal#toggle qr#update' } %>
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-gray-100 rounded-full peer dark:bg-gray-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-yellow-300"></div>
                    <span class="ml-3 text-sm font-medium text-gray-600 dark:text-gray-300">Transparent background?</span>
                  </label>
                  <div 
                    class='<%= class_names("flex flex-col", {'hidden': truthy?(form.object.transparent_background)}) %>' data-reveal-target="item">
                    <%= form.label :background_color, 'Color', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                    <%= form.color_field :background_color, value: style.background_color, "data-action": "input->qr#update", "data-qr-target": "backgroundColor" %>
                  </div>
                </div>
                <div class="flex flex-col">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Dots settings</h4>
                  <%= form.label :dots_color, 'Color', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.color_field :dots_color, value: style.dots_color, "data-action": "input->qr#update", "data-qr-target": "dotsColor" %>
                  <%= form.label :dots_shape, 'Shape', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <fieldset>
                    <legend></legend>
                    <div class="grid grid-cols-3 gap-3 sm:grid-cols-6">
                      <% Style::DOTS_SHAPES.each do |s| %>
                        <label class="flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                          <%= form.radio_button :dots_shape, s, class: 'peer sr-only', data: { action: 'input->qr#update', qr_target: 'dotsShape' } %>
                          <%= image_tag "dots-shapes/#{s}.svg", class: 'p-1 rounded peer-checked:bg-gray-200 dark:peer-checked:bg-gray-800' %>
                        </label>
                      <% end %>
                    </div>
                  </fieldset>
                </div>
                <div class="flex flex-col" data-controller="reveal">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Corner squares settings</h4>
                  <label class="inline-flex relative items-center cursor-pointer mt-2">
                    <%= form.check_box :corner_squares_copy_dots, class: "sr-only peer", data: { qr_target: 'copyCornerSquares', action: 'reveal#toggle qr#update' } %>
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-gray-100 rounded-full peer dark:bg-gray-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-yellow-300"></div>
                    <span class="ml-3 text-sm font-medium text-gray-600 dark:text-gray-300">Copy corner squares</span>
                  </label>
                  <div class='<%= class_names("flex flex-col", {'hidden': truthy?(form.object.corner_squares_copy_dots)}) %>' data-reveal-target="item">
                    <%= form.label :corner_squares_color, 'Color', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                    <%= form.color_field :corner_squares_color, value: style.corner_squares_color, "data-action": "input->qr#update", "data-qr-target": "cornerSquaresColor" %>
                    <%= form.label :corner_squares_shape, 'Shape', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                    <%= form.select :corner_squares_shape, Style::CORNER_SQUARES_SHAPES.map{|x| [x.humanize, x]}, {include_blank: 'Default'}, class: "bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", "data-action": "input->qr#update", "data-qr-target": "cornerSquaresShape" %>
                  </div>
                </div>
                <div class="flex flex-col" data-controller="reveal">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Corner dots settings</h4>
                  <label class="inline-flex relative items-center cursor-pointer mt-2">
                    <%= form.check_box :corner_dots_copy_dots, class: "sr-only peer", data: { qr_target: 'copyCornerDots', action: 'reveal#toggle qr#update' } %>
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-gray-100 rounded-full peer dark:bg-gray-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-yellow-300"></div>
                    <span class="ml-3 text-sm font-medium text-gray-600 dark:text-gray-300">Copy corner dots</span>
                  </label>
                  <div class='<%= class_names("flex flex-col", {'hidden': truthy?(form.object.corner_dots_copy_dots)}) %>' data-reveal-target="item">
                    <%= form.label :corner_dots_color, 'Color', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                    <%= form.color_field :corner_dots_color, value: style.corner_dots_color, "data-action": "input->qr#update", "data-qr-target": "cornerDotsColor" %>
                    <%= form.label :corner_dots_shape, 'Shape', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                    <%= form.select :corner_dots_shape, Style::CORNER_DOTS_SHAPES.map{|x| [x.humanize, x]}, {include_blank: 'Default'}, class: "bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", "data-action": "input->qr#update", "data-qr-target": "cornerDotsShape" %>
                  </div>
                </div>
                <div class="flex flex-col">
                  <h4 class="text-md font-medium leading-6 text-gray-700 dark:text-gray-200">Image settings</h4>
                  <%= form.label :image_url, 'Image URL', class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
                  <%= form.url_field :image_url, value: style.image_url, class: 'bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md', "data-action": "qr#update", "data-qr-target": "imageUrl" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div data-qr-target="canvas" style="aspect-ratio: 1" class="flex justify-center md:col-span-1"></div>
    </div>
    <div class="mt-3 gap-x-3 flex justify-end">
      <%= render_component 'button', style: :secondary, data: { action: 'turbo-modal#hideModal'} do %>
        Cancel
      <% end %>
      <%= form.submit nil, class: 'inline-flex items-center border font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent text-gray-900 bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-500 px-4 py-2 text-sm' %>
    </div>
  <% end %>	
</div>
