<%= turbo_stream.append "styles", @style %>
<%= turbo_stream.append "link_style", "<option value=#{@style.id} selected>#{@style.name}</option>" %>
<%= turbo_stream.append "flash_messages" do %>
  <%= render FlashComponent.new(type: 'notice', data: "#{@style.name} created") %>
<% end %>
<%= turbo_stream.update Style.new, "" %>
