<div class="w-full">
  <%= render SectionHeaderComponent.new do |c| %>
    <%= c.with_title do %>
      Styles
    <% end %>
    <% if can? :create, Style %>
      <%= c.with_button(link: new_style_path).with_content("New style") %>
    <% end %>
  <% end %>

  <% if @styles.count.positive? %>
    <%= render @styles %>
  <% else %>
    <div class="text-center">
      <div class="mx-auto h-12 w-12 text-gray-400 flex items-center justify-center">
        <%= show_svg("outline/color-swatch") %>
      </div>
      <h3 class="mt-2 text-sm font-medium text-gray-900">No styles</h3>
      <p class="mt-1 text-sm text-gray-500">Get started by creating a new style.</p>
    </div>
  <% end %>
</div>
