<div class="w-full">
  <%= render SectionHeaderComponent.new do |c| %>
    <%= c.with_title do %>
      Styles
    <% end %>
    <% if can? :create, Style %>
      <%= c.with_button(link: new_style_path, data: {turbo_frame: "modal" }).with_content("New style") %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "styles" do %>
    <%= render 'styles/empty_state' %>
    <%= render @styles %>
  <% end %>
</div>
