<%= form.fields_for :contact_link, @link.link_data || ContactLink.new do |contact_form| %>
  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Link target</h3>
        <p class="mt-1 text-sm text-gray-500">Specific settings for your contact link target.</p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.label :first_name, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.text_field :first_name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.label :last_name, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.text_field :last_name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.label :email, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.email_field :email, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.label :phone, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.phone_field :phone, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.label :birthday, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.date_field :birthday, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.label :website, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.url_field :website, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-6 sm:col-span-6">
            <%= contact_form.label :address, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.text_field :address, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.label :company, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.text_field :company, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.label :title, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.text_field :title, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-6 sm:col-span-6">
            <%= contact_form.label :note, class: "block text-sm font-medium text-gray-700" %>
            <%= contact_form.text_area :note, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>	
