<%= render_component 'card' do %>
<div class="sm:flex sm:items-start">
  <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-sm bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
      <%= heroicon 'exclamation-triangle', class: 'text-red-600' %>
  </div>
  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
    <h3 class="text-lg leading-6 font-medium text-gray-800 dark:text-gray-100" id="modal-title"><%= @title %></h3>
    <div class="mt-2">
      <p class="text-sm text-gray-800 dark:text-gray-100">Are you sure you want to delete your link? All of your data will be permanently removed from our servers forever<%= @scans_text %>. This action cannot be undone.</p>
    </div>
  </div>
</div>
<% end %>
<div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse space-y-3 sm:space-y-0 sm:gap-3">
  <%= render_component :button, href: @link, style: :destructive, method: :delete, classes: 'w-full sm:w-auto' do %>
    Delete
  <% end %>
  <%= render_component :button, style: :secondary, classes: 'w-full sm:w-auto', data: { action: 'turbo-modal#hideModal' } do %>
    Cancel
  <% end %>
</div>
