<%= render_component 'card' do %>
  <%= form.simple_fields_for :contact_link, @link.link_data || ContactLink.new do |contact_form| %>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-800 dark:text-gray-100">Link target</h3>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-3 sm:col-span-2">
            <%= contact_form.input :first_name %>
          </div>

          <div class="col-span-3 sm:col-span-2">
            <%= contact_form.input :last_name %>
          </div>

          <div class="col-span-3 sm:col-span-2">
            <%= contact_form.input :email %>
          </div>

          <div class="col-span-3 sm:col-span-2">
            <%= contact_form.input :phone %>
          </div>

          <div class="col-span-3 sm:col-span-2">
            <%= contact_form.input :birthday, as: :date, html5: true %>
          </div>

          <div class="col-span-4 sm:col-span-3">
            <%= contact_form.input :website, as: :url %>
          </div>

          <div class="col-span-6 sm:col-span-6">
            <%= contact_form.input :address, as: :text %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.input :company %>
          </div>

          <div class="col-span-3 sm:col-span-3">
            <%= contact_form.input :title %>
          </div>

          <div class="col-span-6 sm:col-span-6">
            <%= contact_form.input :note, as: :text %>
          </div>
        </div>
      </div>
    </div>
  <% end %>	
<% end %>
