<%= form_with(model: link, class: "space-y-6") do |form| %>
  <%= render 'link_settings_fields', form: form, link: link %>
  <%= render @link_type, form: form %>
  <%= render 'link_styling_fields', form: form, link: link %>

  <div class="flex gap-x-3 justify-end">
    <%= render_component 'button', href: url_for(:back), style: :secondary do %>
      Cancel
    <% end %>
    <%= form.submit nil, class: 'cursor-pointer inline-flex items-center border font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 border-transparent text-gray-900 bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-500 px-4 py-2 text-sm' %>
  </div>
<% end %>	
