<%= form_with(model: link) do |form| %>
  <div class="space-y-6">
    <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Link settings</h3>
          <p class="mt-1 text-sm text-gray-500">General settings for the link</p>
        </div>
        <div class="mt-5 mt-0 md:col-span-2">
          <div>
            <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md", required: true %>
            </div>
          </div>
          <div class="flex justify-between flex-row items-center mt-5">
            <span class="flex-grow flex flex-col">
              <%= form.label :dynamic, class: "text-sm font-medium text-gray-900" %>
              <span class="text-sm text-gray-500" id="availability-description">Create a dynamic link?</span>
            </span>
            <%= form.check_box :dynamic, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
          </div>
          <div class="flex flex-row">
            <div class="flex flex-col">
              <%= form.label :fill, class: "text-sm font-medium text-gray-900" %>
              <%= form.color_field :fill %>
            </div>
            <div class="flex flex-col">
              <%= form.label :color, class: "text-sm font-medium text-gray-900" %>
              <%= form.color_field :color %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render "#{@link_type.pluralize}/form", form: form %>

    <div class="flex justify-end">
      <%= link_to 'Cancel', :back, class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
    </div>
  </div>
<% end %>	
