<%= form_with(model: link) do |form| %>
  <div class="form-floating mb-3">
    <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
    <%= form.label :name, class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.url_field :url, class: "form-control", placeholder: "https://qapir.com" %>
    <%= form.label :url, class: "form-label" %>
  </div>

  <div>
    <%= form.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
