<div class="rounded-sm overflow-hidden divide-y bg-gray-200 dark:bg-gray-600 ring-1 ring-gray-300 dark:ring-transparent divide-gray-200 dark:divide-gray-600 sm:divide-y-0 sm:grid sm:grid-cols-2 sm:gap-px">
  <div class="rounded-tl-sm rounded-tr-sm sm:rounded-tr-none relative group bg-gray-100 dark:bg-gray-700 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-yellow-400">
    <span class="rounded-sm inline-flex p-3 bg-green-100 ring-4 ring-gray-300 dark:ring-gray-500">
      <%= heroicon 'globe-alt', class: 'text-green-800' %>
    </span>
    <div class="mt-8">
      <h3 class="text-lg font-medium text-gray-800 dark:text-gray-100">
        <%= link_to new_link_path({link_type: :url_link}), class: "focus:outline-none" do %>
          <span class="absolute inset-0" aria-hidden="true"></span>
          URL link
        <% end %>
      </h3>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Link to any website on the internet.</p>
    </div>
    <%= heroicon 'arrow-up-right', class: 'pointer-events-none absolute top-6 right-6 text-gray-500 group-hover:text-gray-400' %>
  </div>

  <div class="sm:rounded-tr-sm relative group bg-gray-100 dark:bg-gray-700 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-yellow-400">
    <span class="rounded-sm inline-flex p-3 bg-blue-100 ring-4 ring-gray-300 dark:ring-gray-500">
      <%= heroicon 'inbox', class: 'text-blue-800' %>
    </span>
    <div class="mt-8">
      <h3 class="text-lg font-medium text-gray-800 dark:text-gray-100">
        <%= link_to new_link_path({link_type: :email_link}), class: "focus:outline-none" do %>
          <span class="absolute inset-0" aria-hidden="true"></span>
          Email link
        <% end %>
      </h3>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Link to a prepopulated email with an address, subject and body text. All the scanner has to do is hit send.</p>
    </div>
    <%= heroicon 'arrow-up-right', class: 'pointer-events-none absolute top-6 right-6 text-gray-500 group-hover:text-gray-400' %>
  </div>

  <div class="sm:rounded-tr-none relative group bg-gray-100 dark:bg-gray-700 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-yellow-400">
    <span class="rounded-sm inline-flex p-3 bg-fuchsia-100 ring-4 ring-gray-300 dark:ring-gray-500">
      <%= heroicon 'wifi', class: 'text-fuchsia-800' %>
    </span>
    <div class="mt-8">
      <h3 class="text-lg font-medium text-gray-800 dark:text-gray-100">
        <%= link_to new_link_path({link_type: :wifi_link}), class: "focus:outline-none" do %>
          <span class="absolute inset-0" aria-hidden="true"></span>
          WiFi link
        <% end %>
      </h3>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Share the settings for a WiFi network so that the user only has to scan the code to connect.</p>
    </div>
    <%= heroicon 'arrow-up-right', class: 'pointer-events-none absolute top-6 right-6 text-gray-500 group-hover:text-gray-400' %>
  </div>

  <div class="sm:rounded-tr-none relative group bg-gray-100 dark:bg-gray-700 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-yellow-400">
    <span class="rounded-sm inline-flex p-3 bg-amber-100 ring-4 ring-gray-300 dark:ring-gray-500">
      <%= heroicon 'phone', class: 'text-amber-800' %>
    </span>
    <div class="mt-8">
      <h3 class="text-lg font-medium text-gray-800 dark:text-gray-100">
        <%= link_to new_link_path({link_type: :telephone_link}), class: "focus:outline-none" do %>
          <span class="absolute inset-0" aria-hidden="true"></span>
          Telephone link
        <% end %>
      </h3>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Link to a phone number for the scanner to call.</p>
    </div>
    <%= heroicon 'arrow-up-right', class: 'pointer-events-none absolute top-6 right-6 text-gray-500 group-hover:text-gray-400' %>
  </div>

  <div class="sm:rounded-tr-none relative group bg-gray-100 dark:bg-gray-700 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-yellow-400">
    <span class="rounded-sm inline-flex p-3 bg-gray-100 ring-4 ring-gray-300 dark:ring-gray-500">
      <%= heroicon 'chat-bubble-left-ellipsis', class: 'text-gray-800' %>
    </span>
    <div class="mt-8">
      <h3 class="text-lg font-medium text-gray-800 dark:text-gray-100">
        <%= link_to new_link_path({link_type: :sms_link}), class: "focus:outline-none" do %>
          <span class="absolute inset-0" aria-hidden="true"></span>
          SMS link
        <% end %>
      </h3>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Link to a pre-specified SMS for the scanner to send.</p>
    </div>
    <%= heroicon 'arrow-up-right', class: 'pointer-events-none absolute top-6 right-6 text-gray-500 group-hover:text-gray-400' %>
  </div>

  <div class="sm:rounded-tr-none relative group bg-gray-100 dark:bg-gray-700 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-yellow-400">
    <span class="rounded-sm inline-flex p-3 bg-rose-100 ring-4 ring-gray-300 dark:ring-gray-500">
      <%= heroicon 'user', class: 'text-rose-800' %>
    </span>
    <div class="mt-8">
      <h3 class="text-lg font-medium text-gray-800 dark:text-gray-100">
        <%= link_to new_link_path({link_type: :contact_link}), class: "focus:outline-none" do %>
          <span class="absolute inset-0" aria-hidden="true"></span>
          Contact link
        <% end %>
      </h3>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Specify contact details for quick entry into the scanners contact list.</p>
    </div>
    <%= heroicon 'arrow-up-right', class: 'pointer-events-none absolute top-6 right-6 text-gray-500 group-hover:text-gray-400' %>
  </div>
</div>
