<div data-controller="qr" data-qr-barcode-data-value=<%= u barcode_data(link) %> class="w-full bg-gray-200 dark:bg-gray-700 overflow-hidden rounded-lg mb-5">
  <div class="px-4 py-5 sm:px-6 flex flex-col sm:flex-row items-center">
    <h3 class="text-lg whitespace-nowrap leading-6 font-medium text-gray-800 dark:text-gray-100"><%= link.name %></h3>
    <div class="w-full mt-6 sm:ml-auto flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
      <%= render 'hidden_qr_fields', link: link %>
      <span class="relative z-0 inline-flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2">
        <%= render 'download_button' %>
      <% if can? :update, link %>
        <%= link_to 'Edit', edit_link_path(@link), type: :button, class: "w-full inline-flex justify-center rounded-md border border-transparent px-4 py-2 bg-gray-300 dark:bg-gray-600 border-gray-400 dark:border-gray-500 font-medium text-gray-600 dark:text-gray-300 hover:bg-gray-400 dark:hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:mt-0 sm:w-auto text-sm" %>
      <% end %>
      <% if can? :archive, link %>
        <%= button_to 'Archive', archive_link_path(@link), method: :get,  class: "w-full inline-flex justify-center rounded-md border border-transparent px-4 py-2 bg-red-600 font-medium text-gray-50 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:w-auto text-sm" %>
      <% end %>

      <% if can? :confirm_destroy, link %>
        <%= link_to 'Delete', confirm_destroy_link_path(@link), class: "w-full inline-flex justify-center rounded-md border border-transparent px-4 py-2 bg-red-600 font-medium text-gray-50 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:w-auto text-sm", data: { turbo_frame: :modal } %>
      <% end %>
      </span>
    </div>
  </div>
  <div class="border-t border-gray-300 dark:border-gray-600 px-4 py-5 sm:p-0">
    <div data-qr-target="canvas" class="flex justify-center p-2">
    </div>
  </div>
</div>
