<div class="bg-white shadow px-4 py-5 rounded-lg sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-slate-900">Link settings</h3>
    </div>
    <div data-controller="checkbox" class="mt-5 md:col-span-2 md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-2">
        <%= form.label :name, class: "block text-sm font-medium text-slate-700" %>
        <div class="mt-1">
          <%= form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-slate-300 rounded-md", required: true %>
        </div>
      </div>
      <div class="flex justify-between flex-row items-center mt-5 md:mt-0 col-span-1">
        <span class="flex-grow flex flex-col">
          <div class="flex">
            <%= form.label :dynamic, class: "text-sm font-medium text-slate-700" %>
            <%= render TooltipComponent.new do %>
              Dynamic links can be updated, and track scans.
            <% end %>
          </div>
        </span>
        <%= form.check_box :dynamic, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-slate-300 rounded", data: {action: "checkbox#toggle"} %>
      </div>
      <div data-checkbox-target="detail" class="mt-3 col-span-2 <%= link.dynamic? ? 'flex flex-col' : 'hidden' %>">
        <div class="flex">
          <%= form.label :password, class: "block text-sm font-medium text-slate-700" %>
          <%= render TooltipComponent.new do %>
            Adding a password to your link will prompt the scanner for the password before redirecting them to the link target.
          <% end %>
        </div>
        <div class="mt-1">
          <%= form.password_field :password, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-slate-300 rounded-md"  %>
        </div>
      </div>
    </div>
  </div>
</div>
