<div class="bg-gray-200 dark:bg-gray-700 px-4 py-5 rounded-lg sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-800 dark:text-gray-100">Link settings</h3>
    </div>
    <div data-controller="checkbox" class="mt-5 md:col-span-2 md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-2">
        <%= form.label :name, class: "block text-sm font-medium text-gray-600 dark:text-gray-300" %>
        <div class="mt-1">
          <%= form.text_field :name, class: "bg-gray-800 focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", required: true %>
        </div>
      </div>
      <div class="flex justify-between flex-row items-center mt-5 md:mt-0 col-span-1">
        <span class="flex-grow flex flex-col">
          <div class="flex">
            <%= form.label :dynamic, class: "text-sm font-medium text-gray-600 dark:text-gray-300" %>
            <%= render TooltipComponent.new do %>
              Dynamic links can be updated, and track scans.
            <% end %>
          </div>
        </span>
        <%= form.check_box :dynamic, class: "focus:ring-gray-700 h-4 w-4 bg-gray-800 text-gray-800 rounded", data: {action: "checkbox#toggle"} %>
      </div>
      <div data-checkbox-target="detail" class="mt-3 col-span-2 <%= link.dynamic? ? 'flex flex-col' : 'hidden' %>">
        <turbo-frame id="pw">
          <% if form.object.password_digest %>
            <%= render 'links/password/remove_password_link' %>
          <% else %>
            <%= render 'links/password/password_field', form: form %>
          <% end %>
        </turbo-frame>
      </div>
    </div>
  </div>
</div>
