<%= render_component 'card' do %>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-800 dark:text-gray-100">Link settings</h3>
    </div>
    <div data-controller="reveal" class="mt-5 md:col-span-2 md:grid md:grid-cols-3 md:gap-4">
      <div class="md:col-span-2">
        <%= form.input :name, required: true, as: :string %>
      </div>
      <div class="flex justify-between flex-row items-center mt-5 md:mt-0 col-span-1">
        <% if @static_only %>
          <%= form.hidden_field :dynamic, value: false %>
        <% else %>
          <div class="flex">
            <%= render ToggleComponent.new(:dynamic, form:, data: { action: 'reveal#toggle' }) do %>
              Dynamic?
            <% end %>
            <%= render TooltipComponent.new do %>
              Dynamic links can be updated, and track scans.
            <% end %>
          </div>
        <% end %>
      </div>
      <%= content_tag :div, class: class_names('mt-3 col-span-2 flex flex-col gap-y-4', { hidden: @static_only || !form.object.dynamic }), data: { reveal_target: 'item' } do %>
        <% unless current_user.organization.custom_domains.empty? %>
          <% if @link.persisted? %>
            <%= render 'links/custom_domain/value' %>
          <% else %>
            <%= render 'links/custom_domain/field' %>
          <% end %>
        <% end %>
        <turbo-frame id="pw">
          <% if form.object.password_digest %>
            <%= render 'links/password/remove_password_link' %>
          <% else %>
            <%= render 'links/password/password_field', form: form %>
          <% end %>
        </turbo-frame>
      <% end %>
    </div>
  </div>
<% end %>
