<%= render SectionHeaderComponent.new do |c| %>
  <%= c.with_title do %>
    Statistics
  <% end %>
<% end %>
<div class="mb-5">
  <dl class="mt-5 grid grid-cols-1 sm:grid-cols-2 gap-5">
    <%= render_component 'card' do %>
      <dt class="text-sm font-medium text-gray-500 dark:text-gray-400 truncate">Total Scans</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-800 dark:text-gray-100"><%= link.scans.count %></dd>
    <% end %>
    <%= render_component 'card' do %>
      <dt class="text-sm font-medium text-gray-500 dark:text-gray-400 truncate">Last 24 hours</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-800 dark:text-gray-100"><%= link.scans.where('created_at > ?', 24.hours.ago).count %></dd>
    <% end %>
  </dl>
</div>

