<% content_for :title, "Links" %>

<% if notice %>
  <div class="py-3">
    <%= render AlertComponent.new(status: 'success').with_content(notice) %>
  </div>
<% end %>

<%= render SectionHeaderComponent.new do |c| %>
  <%= c.with_title do %>
    Active links
  <% end %>
  <% if can?(:create, Link) %>
    <%= c.with_button(text: "New link", link: new_link_path) %>
  <% end %>
<% end %>

<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <% @links.each do |link| %>
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <%= render LinkCardComponent.new(link: link, can_edit: can?(:update, link), can_delete: can?(:destroy, link)) %>
    </li>
  <% end %>
</ul>
