<% content_for :title, "Links" %>

<%= render_component "section_header" do |c| %>
  <%= c.title do %>
    Active links
  <% end %>
  <% if can?(:create, Link) %>
    <%= c.button(link: new_link_path) do %>
      New link
    <% end %>
  <% end %>
<% end %>

<div>
  <% unless @links.empty? %>
    <div class="bg-gray-200 dark:bg-gray-700 shadow overflow-hidden rounded-md">
      <ul role="list" class="divide-y divide-gray-300 dark:divide-gray-600">
        <% @links.each do |link| %>
          <li>
            <%= render LinkCardComponent.new(link) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="text-center">
      <div class="mx-auto h-12 w-12 flex items-center justify-center">
        <%= heroicon 'link', class: 'text-gray-500' %>
      </div>
      <h3 class="mt-2 text-sm font-medium text-gray-700 dark:text-gray-200">No active links</h3>
      <p class="mt-1 text-sm text-gray-500">Get started by creating a new link.</p>
    </div>
  <% end %>

</div>
<% unless @archived_links.empty? %>
  <div class="mt-3">
    <%= render SectionHeaderComponent.new do |c| %>
      <%= c.with_title do %>
        Archived links
      <% end %>
    <% end %>
    <div class="bg-gray-200 dark:bg-gray-700 shadow overflow-hidden rounded-md">
      <ul role="list" class="divide-y divide-gray-600">
        <% @archived_links.each do |link| %>
          <li>
            <%= render LinkCardComponent.new(link) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
