<%= render_component 'section_header' do |c| %>
  <%= c.title { 'Active links' } %>
  <% if can?(:create, Link) %>
    <%= c.button(link: new_link_path) do %>
      New link
    <% end %>
  <% end %>
<% end %>

<% unless @links.empty? %>
  <%= render_component "card" do %>
    <ul role="list" class="divide-y divide-gray-300 dark:divide-gray-600">
      <% @links.each do |link| %>
        <li>
          <%= render_component 'link_card', link: link %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <%= render 'empty_state' %>
<% end %>

<% unless @archived_links.empty? %>
  <div class="mt-3">
    <%= render_component 'section_header' do |c| %>
      <%= c.title { 'Archived links' } %>
    <% end %>
    <%= render_component 'card' do %>
      <ul role="list" class="divide-y divide-gray-300 dark:divide-gray-600">
        <% @archived_links.each do |link| %>
          <li>
            <%= render_component 'link_card', link: link %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
