<%= render_component 'section_header' do |c| %>
  <%= c.title { 'Links' } %>
  <% if can?(:create, Link) %>
    <%= c.button(href: new_link_path) do %>
      New link
    <% end %>
  <% end %>
<% end %>

<%= render 'filters' %>
<% unless @links.empty? %>
  <%= turbo_frame_tag 'links' do %>
    <%= render_component "card", classes: 'mt-3' do %>
      <ul role="list" class="divide-y divide-gray-300 dark:divide-gray-600">
        <% @links.each do |link| %>
          <li>
            <%= render_component 'link_card', link: link %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_frame_tag 'links' do %>
    <%= render 'empty_state' %>
  <% end %>
<% end %>
