<p style="color: green"><%= notice %></p>

<%= render @link %>

<div class="btn-group" role="group" aria-label="Links buttons">
  <%= link_to "Back to links", links_path, class: "inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  <% if can? :update, @link %>
    <%= link_to "Edit this link", edit_link_path(@link), class: "inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  <% end %>
  <% if can? :destroy, @link %>
    <%= link_to "Destroy this link", @link, data: {'turbo-method': :delete}, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
  <% end %>
</div>
