<p style="color: green"><%= notice %></p>

<%= render @link %>

<div>
  <% if can? :update, @link %>
    <%= link_to "Edit this link", edit_link_path(@link) %> |
  <% end %>
  <%= link_to "Back to links", links_path %>

  <% if can? :destroy, @link %>
    <%= button_to "Destroy this link", @link, method: :delete %>
  <% end %>
</div>
