<p style="color: green"><%= notice %></p>

<%= render @link %>

<div class="btn-group" role="group" aria-label="Links buttons">
  <%= link_to "Back to links", links_path, class: "btn btn-secondary" %>
  <% if can? :update, @link %>
    <%= link_to "Edit this link", edit_link_path(@link), class: "btn btn-secondary" %>
  <% end %>
  <% if can? :destroy, @link %>
    <%= link_to "Destroy this link", @link, method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
