<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800 dark:text-gray-100">Set your password</h2>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "mt-8 space-y-6", data: { controller: 'password', password_good_class: 'text-green-700 dark:text-green-300', password_bad_class: 'text-gray-500 dark:text-gray-400' } }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <%= f.input :password, input_html: { autocomplete: 'new-password', data: { action: 'password#evaluate', password_target: 'password' } }, required: true %>
  <%= f.input :password_confirmation, label: 'Confirm password', input_html: { autocomplete: 'new-password', data: { action: 'password#evaluate', password_target: 'confirm' } }, required: true %>

  <ul class="flex flex-col gap-y-1">
    <li data-password-target="uppercase" class="flex items-center text-xs text-gray-500 dark:text-gray-400"><%= heroicon :check, size: 14  %><span class="ml-2">One uppercase character</span></li>
    <li data-password-target="lowercase" class="flex items-center text-xs text-gray-500 dark:text-gray-400"><%= heroicon :check, size: 14  %><span class="ml-2">One lowercase character</span></li>
    <li data-password-target="special" class="flex items-center text-xs text-gray-500 dark:text-gray-400"><%= heroicon :check, size: 14 %><span class="ml-2">One special character</span></li>
    <li data-password-target="number" class="flex items-center text-xs text-gray-500 dark:text-gray-400"><%= heroicon :check, size: 14 %><span class="ml-2">One number</span></li>
    <li data-password-target="length" class="flex items-center text-xs text-gray-500 dark:text-gray-400"><%= heroicon :check, size: 14 %><span class="ml-2">At least 8 characters</span></li>
    <li data-password-target="match" class="flex items-center text-xs text-gray-500 dark:text-gray-400"><%= heroicon :check, size: 14 %><span class="ml-2">Password matches confirmation</span></li>
  </ul>

  <%= render ButtonComponent.new(type: :submit, classes: 'w-full') do %>
    Set my password
  <% end %>
<% end %>
