<% content_for(:title, "Organization settings") %>
<div class="h-full">
  <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
    <%= render 'users/nav' %>
    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
      <section aria-labelledby="payment-details-heading">
        <%= form_with(model: @organization) do |form| %>
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="bg-white py-6 px-4 sm:p-6">
              <div>
                <h2 id="payment-details-heading" class="text-lg leading-6 font-medium text-slate-900">Organization settings</h2>
              </div>

              <div class="mt-6 grid grid-cols-4 gap-6">
                <div class="col-span-4 sm:col-span-2">
                  <%= form.label :name, "Organization name", class: "block text-sm font-medium text-slate-700" %>
                  <% if can? :edit, @organization %>
                    <%= form.text_field :name, class: "mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-slate-300 rounded-md" %>
                  <% else %>
                    <%= form.text_field :name, class: "mt-1 shadow-sm bg-slate-100 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-slate-300 rounded-md", disabled: true %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="px-4 py-3 bg-slate-50 text-right sm:px-6">
              <% if can? :edit, @organization %>
                <%= form.submit "Save", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
              <% else %>
                <%= form.submit "Save", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-slate-500 bg-slate-300", disabled: true %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if Flipper.enabled? :stripe, current_user %>
          <div class="shadow sm:rounded-md sm:overflow-hidden mt-6">
            <div class="bg-white py-6 px-4 sm:p-6">
              <div>
                <h2 id="payment-details-heading" class="text-lg leading-6 font-medium text-slate-900">Organization settings</h2>
                <p class="mt-1 text-sm text-slate-500">Update your billing information. Please note that updating your location could affect your tax rates.</p>
              </div>

              <div class="mt-6 grid grid-cols-4 gap-6">
                <div class="col-span-4 sm:col-span-2">
                  <% if @organization.payment_processor&.subscribed? %>
                    <%= link_to "Manage subscription", @portal_session.url, class: "text-indigo-500 hover:text-indigo-600 flex" %>
                  <% else %>
                    <%= link_to "Subscribe", plans_url, class: "text-indigo-500 hover:text-indigo-600 flex" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="shadow sm:rounded-md sm:overflow-hidden mt-6">
          <div class="bg-white px-4 py-5 border-b border-slate-200 sm:px-6">
            <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
              <div class="ml-4 mt-2">
                <h3 class="text-lg leading-6 font-medium text-slate-900">Team members</h3>
              </div>
              <% if can? :invite, User %>
                <div class="ml-4 mt-2 flex-shrink-0">
                  <%= link_to "Invite team member", new_user_invitation_path, class: "relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="bg-white py-6 px-4 sm:p-6">
            <ul role="list" class="divide-y divide-slate-200">
              <% for user in @organization.users %>
                <% unless user == current_user %>
                  <%= link_to user_path(user) do %>
                    <li class="py-4 flex hover:bg-slate-50 items-center justify-between">
                      <div class="flex">
                        <%= image_tag(user.gravatar_url, class: "h-10 w-10 rounded-full") %>
                        <div class="ml-3">
                          <p class="text-sm font-medium text-slate-900"><%= user.name %></p>
                          <p class="text-sm text-slate-500"><%= user.email %></p>
                        </div>

                      </div>
                      <div class="text-slate-400">
                        <%= show_svg('solid/chevron-right') %>
                      </div>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
