<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800 dark:text-gray-100">Send invitation</h2>
<%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: "mt-8 space-y-6" }) do |f| %>
  <%= f.input :name %>

  <% resource.class.invite_key_fields.each do |field| %>
    <%= f.input field %>
  <% end %>
  <%= f.input :role, collection: User.roles.keys.map { |u| [u.to_s.humanize, u.to_s] }, include_blank: false, hint: 'Viewers can only view existing links and statistics. Editors can create and edit links and styles. Administrators can invite and edit users, and manage billing details.' %>
  </div>

  <div class="mt-4">
    <%= render ButtonComponent.new(type: :submit, classes: 'w-full') do %>
      Send invitation
    <% end %>
  </div>
<% end %>
