<%= form.fields_for :email_link, @link.link_data || EmailLink.new do |email_form| %>
  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Link target</h3>
        <p class="mt-1 text-sm text-gray-500">Specific settings for your email link target.</p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-12 sm:col-span-7">
            <%= email_form.label :email_address, class: "block text-sm font-medium text-gray-700" %>
            <%= email_form.email_field :email_address, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-12 sm:col-span-5">
            <%= email_form.label :subject, class: "block text-sm font-medium text-gray-700" %>
            <%= email_form.text_field :subject, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>

          <div class="col-span-12">
            <%= email_form.label :body, class: "block text-sm font-medium text-gray-700" %>
            <%= email_form.text_area :body, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>	
