<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/common_header' %>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-100 dark:bg-gray-800">
    <header>
      <% if user_masquerade? %>
        <%= render 'layouts/masquerade_banner' %>
      <% end %>
      <%= render_component 'navbar', user: current_user %>
      <% unless current_user.organization.on_trial_or_subscribed? %>
        <%= render 'layouts/inactive_subscription_banner' %>
      <% end %>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <%= render_breadcrumbs builder: BreadcrumbsHelper::RoqrBreadcrumbs %>
      </div>
    </header>
    <article>
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <%= yield %>
      </div>
      <%= render 'layouts/paddle' %>
      <%= turbo_frame_tag "modal", target: :_top %>
      <%= turbo_frame_tag "slideover", target: :_top %>
      <%= render 'layouts/flash' %>
    </article>
    <footer class="mt-auto">
      <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="border-t border-gray-700 py-8 text-center text-sm text-gray-500 sm:text-left"><span class="block sm:inline">&copy; 2022 Overmuse, LLC.</span> <span class="block sm:inline text-sm">'QR Code' is a registered trademark of DENSO WAVE INCORPORATED</span></div>
      </div>
    </footer>
  </body>
</html>
