<!DOCTYPE html>
<html>
  <head>
    <title>Qapir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
    </header>
    <div class="container">
      <div class="row">
		<div class="col">
		  <%= yield %>
		</div>
	  </div>
	</div>
  </body>
</html>
