<!DOCTYPE html>
<html class="h-full bg-slate-50">
  <head>
    <%= render 'layouts/common_header' %>
  </head>
  <body class="h-full bg-slate-800">
    <div class="min-h-full flex items-center justify-center">
      <div class="max-w-md w-full bg-white rounded-md py-12 px-4 sm:px-6 lg:px-8 space-y-8">
        <div>

          <% if resource.errors.any? %>
            <div class="mb-2 flex justify-center">
              <ul class='space-y-2'>
                <% resource.errors.full_messages.each do |message| %>
                  <li class="text-red-700 bg-red-50 rounded-lg p-2 text-sm font-medium"><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="text-indigo-600 mx-auto flex h-8 w-8">
            <%= show_svg("solid/bolt") %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <%= render 'layouts/flash' %>
</html>
