<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= render 'layouts/common_header' %>
  </head>
  <body class="h-full bg-gray-200 dark:bg-gray-800">
    <div class="min-h-full flex items-center justify-center">
      <div class="flex flex-col max-w-md w-full gap-y-3">
        <%= render_breadcrumbs builder: BreadcrumbsHelper::RoqrBreadcrumbs %>
        <%= render_component 'card' do %>
          <div class="text-yellow-300 mx-auto flex h-8 w-8">
            <%= show_svg("solid/bolt") %>
          </div>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </body>
  <%= render 'layouts/flash' %>
</html>
