<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800 dark:text-gray-100">Sign up</h2>
<p class="mt-2 text-center text-sm text-gray-700 dark:text-gray-200">
Or
<%= link_to "sign in", new_user_session_path, class: "font-medium text-black underline dark:no-underline dark:text-yellow-300 dark:hover:text-yellow-400"  %>
</p>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-8 space-y-4" }) do |f| %>
  <input type="hidden" name="remember" value="true">
  <%= f.input :name, autcomplete: 'name', autofocus: true, required: true %>
  <%= f.input :email, autocomplete: 'email', required: true %>

  <div class="text-sm">
    <%= link_to "Resend confirmation email", new_user_confirmation_path, class: "font-medium underline dark:no-underline dark:text-yellow-300 dark:hover:text-yellow-400" %>
  </div>

  <% if @show_checkbox_recaptcha %>
    <%= recaptcha_tags %>
  <% else %>
    <%= recaptcha_v3(action: 'register', site_key: ENV['RECAPTCHA_V3_SITE_KEY']) %>
  <% end %>

  <%= render ButtonComponent.new(type: :submit, classes: 'w-full') do  %>
    Sign up
  <% end %>
<% end %>
<div class="mt-6">
  <div class="relative">
    <div class="absolute inset-0 flex items-center">
      <div class="w-full border-t border-gray-300 dark:border-gray-600"></div>
    </div>
    <div class="relative flex justify-center text-sm">
      <span class="px-2 bg-gray-100 text-gray-500 dark:bg-gray-700 dark:text-gray-400"> Or continue with </span>
    </div>
  </div>

  <div class="mt-6 grid grid-cols-2 gap-3">
    <div>
      <%= render ButtonComponent.new(href: user_google_oauth2_omniauth_authorize_path, method: :post, classes: 'w-full justify-center', style: :secondary, data: { turbo: false }) do %>
        <span class="sr-only">Sign in with Google</span>
        <%= show_svg('google') %>
      <% end %>
    </div>
    <div>
      <%= render ButtonComponent.new(href: user_github_omniauth_authorize_path, method: :post, classes: 'w-full justify-center', style: :secondary, data: { turbo: false }) do %>
        <span class="sr-only">Sign in with GitHub</span>
        <%= show_svg('github') %>
      <% end %>
    </div>
  </div>
</div>
